body{
    text-align: center;
    font-family: monospace;
}

h1{
    text-align: center;
    color: black;
    font-size: 24px;
    margin: 20px 0 20px 0;
    background: linear-gradient(45deg,pink ,purple,darkBlue);
    border-radius: 10px;
}

h2{
    filter: blur(1px);
}

img{
    filter: grayscale(1px);
    margin: 20px 0 20px 0;
}

a{
    color: black;
    background-color: lightgray;
    filter: opacity(60%);
}

p{
    background-color: lightgray;
    filter: opacity(40%);
}
