/* CSS Selectors Lessons */
body{
    background-color: aliceblue;
}
.main{
    margin-top: 150px;
}
.logo-img{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}
.search-input{
    display: block;
    width: 400px;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;    
}
.btn{
    display: block;
    margin: 30px auto 0px;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 7px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: #dfe1e5;
}


/* //inline and block elements */
/* block gets all the place at horizontal */
/* Margins */
/* Lesson 09 / Div Rule the world */
/* Lesson 10 CSS Classes */
/* Lesson 11 Aside-Learn margins via flags */
/* Lesson 12: Add Spaces Between our elements */
/* Lesson 13 Centering with Margins  */
/* Lesson 14 Centering the logo and search field  */