body{
    font-family: 'Happy Monkey', sans-serif;
    /* background-color: #a2d2ff; */
    background-color: blueviolet;
    text-align: center;
    color: #ffffff;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#bboy-image{
    /* display: block;
    margin: 3px auto 3px; */
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0c9;
    margin-top: 5px;
    margin-bottom: 10px;
}

#bday-age{
    background: #EFB0c9;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0 10px 0;
}
#bday-date{
    margin: 0%;
    background: #EFB0c9;
    border-radius: 5px;
    padding: 5px 10px;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* First Gift Section */
.gift-section{
    margin-top: 50px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; */
}
.gift-title{
    margin-bottom: 10px;
}
.gift-hint{
    margin-top: 0px;
}
.gift-image{
    background: url("images/gift-cover.jpg");
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-size: cover;
    border: 6px solid white;
    border-radius: 10px;
}
.gift-image:hover{
    background: url("images/happy.gif");
}


/* Second Gift Section */
/* Same stylying as above except one */
.gift-image2:hover{
    background: url("images/hot.gif");
    background-size: cover;
}
.gift-image3:hover{
    background: url("images/genius.gif");
    background-size: cover;
}
.gift-image4:hover{
    background: url("images/badass.gif");
    background-size: cover;
}

.gift-image5{
    height: 200px;
}
.gift-image5:hover{
    background: url("images/cheers.gif");
    background-size: cover;
    
}