body{
    font-family: 'Happy Monkey', sans-serif;
    /* background-color: #a2d2ff; */
    background-color: blueviolet;
    color: #ffffff;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#bboy-image{
    /* display: block;
    margin: 3px auto 3px; */
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0c9;
    margin-top: 5px;
    margin-bottom: 10px;
}

#bday-age{
    background: #EFB0c9;
    border-radius: 5px;
    padding: 5px 10px;
}
#bday-date{
    margin: 0%;
    background: #EFB0c9;
    border-radius: 5px;
    padding: 5px 10px;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}